.advantages {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 69px 0 81px 0;

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 240px;
        text-align: center;

        img {
            display: block;
            margin: 0 auto;
            margin-top: 65px;
            width: 70px;
            height: 70px;
        }

        a {
            text-transform: uppercase;
            text-decoration: underline;
            color: #ff0000;
        }
    }
    &__icon {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 1.2s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
        }
    }
}