@media (max-width: 1200px) {
    .exp {
        &__wrapper {
            gap: 40px;
        }
    }
}

@media (max-width: 991px) {
    .exp {
        &__wrapper {
            padding-top: 20px;
            grid-template-columns: repeat(2,290px);
        }
    }
}

@media (max-width: 767px) {
    .exp {
        &__wrapper {
            padding-top: 20px;
            grid-template-columns: repeat(1,400px);
        }
    }
}

@media (max-width: 575px) {
    .exp {
        &__wrapper {
            padding-top: 20px;
            grid-template-columns: repeat(1,260px);
            padding-left: 21px;
        }
    }

}