.exp {
    &__title {
        text-align: center;
        div {
            margin-bottom: 10px;
        }
    }
    &__circle {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            left: 50%;
            top: -7px;
            transform: translateX(-50%);
        }
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat( 2 , 425px);
        gap: 135px;
    }
    &__section {
        &-title {
            position: relative;
            padding-left: 30px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background-color: $main-color;
                left: -7px;
                top: 20%;
                transform: translateX(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content:'';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    left: -40px;
                    background-color:#000;
                    
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content:'';
            height: 1px;
            width: 40px;
            position: absolute;
            background-color: #000;
            left: -40px;
            top: 62px;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 55px;
            h4 {
                margin: 0;
            }
        }
        &-text {
            padding: 12px 0 0 0;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 45px;
            left: 0;
            @include before_circle;
            img {
                position: absolute;
                top: 13px;
                left: 15px;   
            }
        }
        &-subtitle {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }

}