@media (max-width: 1200px) {
    .iuse {
        &_wrapper {
            grid-template-columns: repeat(auto-fit,260px);
            justify-content: space-evenly;
            row-gap: 35px;
        }
        &__progress {
            grid-template-columns: repeat(auto-fit,350px);
            &-item {
                width: 100%;
            }
            justify-content: space-between;
        }
    }
}


@media (max-width: 991px) {

}

@media (max-width: 767px) {
    .iuse {
        &_wrapper {
            justify-content: center;
        }
        &__progress {
            grid-template-columns: repeat(auto-fit,300px);
            &-item {
                width: 100%;
            }
            justify-content: center;
        }
    }    
}

@media (max-width: 575px) {

}