@media (max-width: 1200px) {
    .project {
        &__gallery {
            justify-content: center;
            grid-template-columns: repeat(auto-fit,280px);
        }
        
    }
    .vertical , .horizontal {
        grid-row: unset;
        grid-column: unset;
    }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    .project {
        &__gallery {
            grid-template-rows: repeat(auto-fit,280px);
            grid-template-columns: 280px;
        }
        &__item {
            height: 280px;
            width: 280px;
        }
    }
}

@media (max-width: 575px) {

}