.sidepanel {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 338px;
    height: 24px;
    top: 400px;
    left: -100px;
    z-index: 3;
    transform: rotate(-90deg);
    &__link {
        img {
            height: 20px;
            width: 20px;
        }
    }
    &__divider {
        width: 70px;
        height: 0px;
        border: 2px solid #000000;
        margin-top: 12px;
    }
    &__text {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
}